<div class="container mt-2">
  <div class="row">
    <div class="col-md-10">
      <h3 class="display-6 text-center">
        <strong>Demonstration of Built In Directives And Data Binding</strong>
      </h3>
      <hr />
      <h3 class="display-6 text-center">Issue List Form</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <form class="m-2">
        <div class="form-floating m-2">
          <input
            type="text"
            name="issueDescription"
            id="issueDescription"
            class="form-control"
            placeholder="Enter Issue Description"
            [(ngModel)]="issueDescription"
          />
          <label for="issueDescription">Description</label>
        </div>
        <div class="form-floating m-2">
          <select
            id="issueSeverity"
            name="issueSeverity"
            class="form-select form-select-md"
            [(ngModel)]="issueSeverity"
          >
            <option label="-- Choose Severity --" disabled></option>
            <option
              *ngFor="let severity of severityData; let i = index"
              [ngValue]="severity"
            >
              {{ severity }}
            </option>
          </select>
          <label for="issueSeverity">Severity</label>
        </div>

        <div class="form-check form-check-inline mb-2">
          <label>Status:</label>
          <label
            *ngFor="let status of statusData; let i = index"
            class="form-check-label"
          >
            <input
              type="radio"
              name="status"
              class="m-2"
              id="status{{ i }}"
              [value]="status"
              [(ngModel)]="issueStatus"
            />{{ status }}
          </label>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block w-100"
          (click)="onFormSubmit()"
        >
          Add Issue
        </button>
      </form>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Issue Description</th>
            <th scope="col">Issue Severity</th>
            <th scope="col">Issue Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues">
            <td>{{ issue.issueDescription }}</td>
            <td>{{ issue.issueSeverity }}</td>
            <td>{{ issue.issueStatus }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
